.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Merriweather', serif;
}

/* for allButtons */
@import "./stylesheets/buttons.css";

/* for splash */
@import "./stylesheets/splash.css";

/* for ongoingCosts */
@import "./stylesheets/ongoing.css";

/* for oneTimeCosts */
@import "./stylesheets/onetime.css";

/* for resultModal */

@import "./stylesheets/resultModal.css";

/* for results */
@import "./stylesheets/results.css";

/* for breakdowns */
@import "./stylesheets/breakdowns.css"
